Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

USE workDatabase 
SELECT SUBSTRING(FIRST_NAME,1,3) 
FROM worker;

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

USE workDatabase 
SELECT POSITION("A" IN first_name)
FROM worker
WHERE first_name = "Amitabh";

Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

USE workDatabase
SELECT DEPARTMENT, MAX(Salary)
FROM worker 
GROUP BY DEPARTMENT;