Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’
with ‘A’.

SELECT REPLACE(first_name, "a", "A")
FROM worker;

Q-2. Write an SQL query to print all Worker details from the Worker table order by
FIRST_NAME Ascending and DEPARTMENT Descending.

USE workDatabase
SELECT *
FROM worker
ORDER BY FIRST_NAME ASC, DEPARTMET DESC;

Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

USE workDatabase
SELECT FIRST_NAME, SALARY
FROM worker
WHERE SALARY = (SELECT MAX(SALARY) FROM worker);