Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

USE workDatabase
SELECT *
FROM worker
WHERE YEAR(DateofJoining) = 2014 AND MONTH(DateofJoining) = 2;

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of
a table.

USE workDatabase
SELECT gender, department, COUNT(*)
FROM worker
GROUP BY gender, department
HAVING COUNT(*) > 1;

Q-3. How to remove duplicate rows from Employees table.

USE workDatabase
DELETE c1
FROM worker
c1 INNER JOIN worker c2
WHERE
    c1.salary > c2.salary AND
    c1.LAST_NAME = c2.LAST_NAME